@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {

    --fonte-padrao: 'Inria Serif', serif;
    --fonte-texto: 'Inter', sans-serif;
    --fonte-secundaria: "Quicksand", sans-serif;

    --cor-fundo: #eff2f6;
    --cor-header: #DEE6EC;
    --cor-botão-voltar: #e1e5f2;
    --cor-quarta: #ced9e3;
    --cor-quinta: #bdccd9;
}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
}


.cabecalho {
    background-color: var(--cor-header);
    padding: 20px;
}

.logo {
  width: 200px;
  height: 50px;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.cabecalho__menu__link{
    font-family: var(--fonte-padrao);
    font-size: 1.2rem;
    font-weight: 650;
    color: var(--cor-terciaria);
    text-decoration: none;
}

.menu-position{
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 5%;
    padding: 20px 50% 20px 50px;
    text-decoration: none;
}
  
  .formulario_titulo{
    text-align: center;
    margin: 2em 0 0 0;
    font-size: 2em;
    font-family: var(--fonte-padrao);
  }

  .subtitulo_h3 {
    font-family: var(--fonte-texto);
    margin: 1em 0 0.5em 0;

  }
  
  .formulario{
    text-align: center;
    margin: 3em;
    
  }

  .caixa__texto1 {
    padding: 20px 0% 20px 5%
  }
  
  .caixa_texto2{
    padding: 50px 0% 50px 30%
  }

  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
  }
  
  .integrantes {
    text-align: center;
  }
  
  .nome__sobrenome {
    margin: 10px 0;
    font-family: var(--fonte-secundaria);
    font-size: 20px;
  }
  
  .links {
    margin-top: 10px;
  }
  
  .links a {
    display: flexbox;
    margin-bottom: 5px;
  }

  .rodape{
    font-size: 1em;
    text-align: center;
    margin-top: 10em;
  }