@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=Inter&display=swap');

:root {

    --fonte-padrao: 'Inria Serif', serif;
    --fonte-texto: 'Inter', sans-serif;

    --cor-fundo: #eff2f6;
    --cor-header: #DEE6EC;
    --cor-quarta: #ced9e3;
    --cor-quinta: #bdccd9;

}


* {
    margin: 0;
    padding: 0;
}



.cabecalho__menu__link.active {
    color: var(--cor-quinta);
  }
  
  
  body{
    background-color: var(--cor-fundo);
  }
  
  .cabecalho {
    background-color: var(--cor-header);
  }
  
  .imagem__cabecalho {
    width: 100%;
    height: 5%;
    box-shadow: 0px 1px 10px black;
  }
  
  .nav {
    display: flex;
    gap: 80px;
    justify-content: center;
    position: fixed;
    width: 100%;
    padding: 8px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9;
    background-color: var(--cor-header);
  }
  
  .logo {
    width: 200px;
    height: 50px;
    transform: scale(1);
    transition: 0.3s;
  }
  
  .hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #000000;
    height: 5px;
    cursor: pointer;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #000000;
    margin-top: 20%;
    position: relative;
    transition: 0.3s;
  }
  
  .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
    padding: 20px;
  }
  
  .nav-list a {
    font-size: 18px;
    color: #000000;
    padding-block: 16px;
  }
  
  
  a {
    font-family: var(--fonte-padrao);
    text-decoration: none;
  }
  
  .cabecalho__menu__link{
    font-family: var(--fonte-padrao);
    font-size: 1.2rem;
    font-weight: 650;
    color: var(--cor-terciaria);
    text-decoration: none;
    margin-top: 0.8%;
    border: none;
    transform: scale(1);
    transition: 0.3s;
  }
  
  .cabecalho__menu__link:hover{
    border: none;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.527);
    transform: scale(1.05);
  }

.div__diretor {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.diretor1 {
    align-items: flex-start;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 15% 10% 0 15%;
    list-style-type: none;
}

.imagem__diretor {
    border-radius: 20px;
    width: 80%;
}

.nome__diretor {
    font-family: var(--fonte-padrao);
    font-size: 25px;
    padding: 5% 0 5% 0;
}

.lista__diretor {
    font-family: var(--fonte-texto);
    padding: 0 0 1%;
}

details,summary {
    outline: none;
    user-select: none;
}

details {
    cursor: pointer;
}

summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

summary::after  {
    content: '+';
}


.bio__summary1 {
    font-size: 20px;
    background-color: var(--cor-quarta);
}

.titulo__summary {
    font-family: var(--fonte-padrao);
    padding: 1% 0 2%;
}

.paragrafo__summary {
    font-family: var(--fonte-texto);
    padding: 0 0 3%;
}

.rodape{
  font-size: 1em;
  text-align: center;
  margin-top: 5em;
}




@media only screen and (max-width: 768px) {
  .div__diretor {
    grid-template-columns: 1fr;
    gap: 0; 
    margin-top: 15%;
  }

  .diretor1 {
    grid-template-columns: 100%; 
    padding: 10% 5%;
  }

  .nome__diretor {
    font-size: large;
  }

  .imagem__diretor {
    width: 80%; 
    margin: auto;
  }

  .hamburger {
    display: block;
    z-index: 1;
    margin-top: 15px;
  }
  
  .nav-list {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: var(--cor-header);
    clip-path: circle(100px at 90% -15%);
    transition: 0.5s ease-out;
  
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 0;
  
    pointer-events: none;
  }
  
  .nav-list a {
    font-size: 24px;
    opacity: 0;
  }
  
  .nav-list li:nth-child(1) a {
    transition: 0.5s 0.2s;
  }
  
  .nav-list li:nth-child(2) a {
    transition: 0.5s 0.2s;
  }
  
  .nav-list li:nth-child(3) a {
    transition: 0.5s 0.4s;
  }
  
  .nav-list li:nth-child(4) a {
    transition: 0.5s 0.6s;
  }
  
  .nav-list li:nth-child(5) a {
    transition: 0.5s 0.8s;
  }
  
  /* Estilos ativos */
  
  .nav.active .nav-list {
    clip-path: circle(1500px at 90% -15%);
    pointer-events: all;
  }
  
  .nav.active .nav-list a {
    opacity: 1;
  }
  
  .nav.active .hamburger {
    position: fixed;
    top: 10px;
    right: 40px;
    border-top-color: transparent;
  }
  
  .nav.active .hamburger::before {
    transform: rotate(135deg);
  }
  
  .nav.active .hamburger::after {
    transform: rotate(-135deg);
    top: -9px;
  }

}