@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=Inter&display=swap');

:root {

    --fonte-padrao: 'Inria Serif', serif;
    --fonte-texto: 'Inter', sans-serif;

    --cor-fundo: #eff2f6;
    --cor-header: #DEE6EC;
    --cor-quarta: #ced9e3;
    --cor-quinta: #bdccd9;

}


* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-fundo);
}

.cabecalho {
    background-color: var(--cor-header);
    padding: 20px;
}

.logo {
  width: 200px;
  height: 50px;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
    justify-content: center;
}

.cabecalho__menu__link{
    font-family: var(--fonte-padrao);
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--cor-header);
    text-decoration: none;
}

.diretor1 {
    align-items: flex-start;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 3% 20% 1% 20%;
    list-style-type: none;
}

.imagem__diretor {
    border-radius: 20px;
}

.nome__diretor {
    font-family: var(--fonte-padrao);
    font-size: 25px;
    padding: 0% 0% 5%;
}

.lista__diretor {
    font-family: var(--fonte-texto);
    padding: 0% 0% 1%;

}

details,summary {
    outline: none;
    user-select: none;
}

details {
    cursor: pointer;
}

summary {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

summary::after  {
    content: '+';
}

.bio__summary1 {
    font-size: 20px;
    background-color: var(--cor-quarta);
}

.titulo__summary {
    font-family: var(--fonte-padrao);
    padding: 1% 0% 2%;
}

.paragrafo__summary {
    font-family: var(--fonte-texto);
    padding: 0% 0% 1%;
}