/*inicio responsividade posteres dos filmes*/

@media screen and (max-width: 768px) {
  #img_div {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
    width: 80%;
    margin-left: 41px;
  }
  }

  @media screen and (max-width: 768px) {
    .img {
      width: 100%;
    }
    }


@media screen and (min-width: 992px) {
  #img_div {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;

  }
  }

/*fim responsividade posteres dos filmes*/




          
          @media only screen and (max-device-width: 700px) {
            body { width:400px; }
            }
                       
            @media screen and (min-width: 380px) {
              #imagem__galeria {
                  grid-template-columns: 1fr 1fr;
          
              }
              }
            
            @media screen and (min-width: 992px) {
              #imagem__galeria {
                  grid-template-columns: 1fr 1fr 1fr 1fr;
              }
              }
    
              @media screen and (min-width: 380px) {
                #imagem__galeria__individual {
                    width: 20%;
                }
                }
              
          