@media (min-width: 900px) {
    main {
      flex-wrap: nowrap;
    } }

@media screen and (min-width: 576px) {
    #menu-position {
          grid-template-columns: 1fr 1fr;
      }
      }
    @media screen and (min-width: 992px) {
      #menu-position {
          grid-template-columns: 1fr 1fr 1fr 1fr;
      }
      }

      @media screen and (max-width: 992px) {
        #img {
          max-width: 60%;
          height: 0.25rem auto;
          margin: 1rem auto;
          border-radius: 1rem;
        } }

        @media screen and (min-width: 380px) {
            #img_div {
                grid-template-columns: 1fr 1fr;
            }
            }
          
          
          @media screen and (min-width: 992px) {
            #img_div {
                grid-template-columns: 1fr 1fr 1fr 1fr;
            }
            }
          
          @media only screen and (max-device-width: 700px) {
            body { width:400px; }
            }
                       
    