body{
  background-color: rgba(247, 230, 211, 0.3);
}

a:visited {
 color: rgb(0, 0, 0);
}

a:link{
  color: rgba(180, 100, 100, 1);
}

.font{
  font-family: Arial, Helvetica, sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


.titulo{
  font-size: 100%;
  margin: 40px;
  text-align: center;
  font-size: 4em;
  font-family: "Quicksand";
}

.logo{
  display: inline;
  justify-content: center;
  margin-top: auto;
  width: 3rem;
  height: 3rem;
  
}

#menu-position{
  text-align: center;
  background-color: rgba(180, 100, 100, 0.05);
  width: 50vw;
  height: auto;
  margin: 1rem auto;
  display: grid;
  grid-template-columns: 1fr;
  border-radius: 10px;
  padding-top: 1em;
  padding-bottom: 1em;
}

@media screen and (min-width: 576px) {
#menu-position {
      grid-template-columns: 1fr 1fr;
  }
  }
@media screen and (min-width: 992px) {
  #menu-position {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  }

#integrantes_principal{
  text-align: center;
  background-color: rgba(180, 100, 100, 0.05);
  padding: 20px 0px 20px 0px;
  margin: 100px 20% 0 20% ;
  border-radius: 10px;
}

#integrantes{
  margin: 20px 0 0 0;
  font-size: 3em;
  text-align: center;
}

#rodape{
  font-size: 1em;
  text-align: center;
  margin-top: 10em;
}

#subtitulo_h3{
font-size: 1em;
margin-top: 2em;
margin-bottom: 5px;
}

#formulario_titulo{
  text-align: center;
  margin: 2em 0 0 0;
  font-size: 2em;
}

#formulario{
  text-align: center;
  margin: 3em;
  
}

#caixa_texto{
  padding: 30px;
}

#bloco_filmes{
  display: block;
  justify-content: center;
  margin: 10em;
}

#titulo_filmes{
  padding: 2em;
  font-size: 1rem;
}

p{
  font-family: Arial, Helvetica, sans-serif;
  margin: auto;
}

.sobre{
  display: block;
  justify-content: center;
  margin: 2rem auto;
    padding: 2rem auto;
  font-size: 0.25em auto;
  text-align: center;
}

@media only screen and (max-device-width: 700px) {
  .sobre { width:400px; }
  }

  #bloco_filmes{
    display: block;
    justify-content: center;
    margin: 2rem auto;
    padding: 2rem auto;
    font-size: 0.25em auto;
    text-align: center;
  }
  
  @media only screen and (max-device-width: 700px) {
    #bloco_filmes { width:400px; }
    }

#img_div{
  display: grid;
  grid-template-columns: 1fr;
}

#img{
  size: 10%;
  margin-left: 3rem;
  margin-top: 3rem;
  box-shadow: 10px 10px 20px black;
  border-radius: 20px;
}

@media screen and (max-width: 992px) {
  #img {
    max-width: 60%;
    height: 0.25rem auto;
    margin: 1rem auto;
    border-radius: 1rem;
  }
  
  }
  

@media screen and (min-width: 380px) {
  #img_div {
      grid-template-columns: 1fr 1fr;
  }
  }

@media screen and (min-width: 576px) {
  #img_div {
      grid-template-columns: 1fr 1fr 1fr;
  }
  }
@media screen and (min-width: 992px) {
  #img_div {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
  }

@media only screen and (max-device-width: 700px) {
  body { width:400px; }
  }


#img_sinopse{
  float: left;
    border: transparent thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
    max-width: 186px;
}