@import url('https://fonts.googleapis.com/css2?family=Inria+Serif&family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root {

    --fonte-padrao: 'Inria Serif', serif;
    --fonte-texto: 'Inter', sans-serif;
    --fonte-secundaria: "Quicksand", sans-serif;

    --cor-fundo: #eff2f6;
    --cor-header: #DEE6EC;
    --cor-quarta: #ced9e3;
    --cor-quinta: #;
    --cor-botão-menu-hover: #CED9E3;
}


* {
    margin: 0;
    padding: 0;
}

.cabecalho_menu_link.active {
  color: var(--cor-quinta);
}

body{
  background-color: var(--cor-fundo);
  width: 100vw;
}

.cabecalho {
  background-color: var(--cor-header);
}

.cabecalho__menu {
  display: flex;
  gap: 80px;
  justify-content: center;
  padding: 8px;
}

.logo {
width: 200px;
height: 50px;
transform: scale(1);
transition: 0.3s;
}

.logo:hover{
  transform: scale(1.1);
}

.cabecalho_menu_link{
  font-family: var(--fonte-padrao);
  font-size: 1.2rem;
  font-weight: 650;
  color: var(--cor-terciaria);
  text-decoration: none;
  margin-top: 0.8%;
  border: none;
  transform: scale(1);
  transition: 0.3s;
}

.cabecalho_menu_link:hover{
  border: none;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.527);
  transform: scale(1.05);
}

/*codigo da pagina inicial*/

.header__home {
 width: 100vw;
 height: 3%;
 padding-bottom: 2%;
}

.titulo__home {
  font-family: var(--fonte-texto);
    font-size: 30px;
    text-align: right;
    margin-top: 3.5rem;
    display: inline-block;
    vertical-align: top;
}
.conteudo__home{
font-family: var(--fonte-padrao);
}

.container{
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: 
  "img-left txt-center img-right"
  "img-left img-bottom img-bottom" 
  ;
  justify-items: auto ;
}

.home_img_esquerda{
grid-area: img-left;
background: var(--cor-fundo);
text-align: right;
justify-self: top;
}

.imagem_direita_bottom{
grid-area: img-bottom;
text-align: center;
justify-self: top;

}

.imagem__direita{
grid-area: img-right;
text-align: left;
justify-self: top;
}

.home_txt_central{
grid-area: txt-center;
text-align: right;
width: 250px;
height: 350px;
padding-left: 10%;
}


/* fim do codigo pagina inicial*/

#img_div{
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 80px
}

.img{
  width: 12em;
  display: grid;
  grid-template-columns: 1fr;
  margin-left: 3rem;
  margin-top: 3rem;
  box-shadow: 10px 10px 20px black;
  border-radius: 20px;
  transition: transform 0.5s;
  transform: scale(1);
}

.img:hover{
  transform: scale(1.1);
}

.rodape{
  text-align: center;
  margin-top: 5em;
  
}

a:link {
  text-decoration: none;
  color: black;
 }

a:visited {
  color: black;
}